
<!--AGREGAR NUEVOS AQUI-->
<section  class="row">

{{#each list}}
<!--
  <div>
    {{this}}
  </div>
-->

      <div id="s1_div1" class="column">
        <div id="divCont1" class="divCont">
           <img id="img1" class="img_responsive"src="../IMG/{{this.rPhoto}}" alt="{{this.rPhoto}}" >
            <div class="stars"> &#11088;</div>
            <div class="divTitle"><p>{{this.rTitle}}</p></div>
            <div class="divDescr"><p> {{this.rDesc}}</p></div>
            <div class="price">{{this.rPrice}} </div>
        </div>
      </div>

{{/each}}
       
</section>

